html, body, #root, .App {
  height: 100%;
}

body {
  background:#e6e6e6;;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  height: auto;
  flex-basis: 50%;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.25s linear;
  border: none;
}

.card ul {
  list-style-type: none;
  padding: 0;
  width: max-content;
  text-align: center;
  margin: auto;
}

button {
  margin: 20px 0;
}